@{
    ViewData["Title"] = "SalesReport";
}

<!DOCTYPE html>
<link rel="stylesheet" href="~/css/ReportTopBar.css" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>


<div class="navbar">

    <button class="dropdown-btn">
        Pre Pay Report
        <i class="fa fa-file-text" aria-hidden="true"></i>
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <div><a asp-area="" asp-controller="ReportSection" asp-action="_Non_LowPurchase">None/Low Purchase <i class="fa fa-file-text" aria-hidden="true"></i> </a></div>
        <div><a asp-area="" asp-controller="ReportSection" asp-action="_SalesReport">Sales Report <i class="fa fa-file-text" aria-hidden="true"></i> </a></div>
        <div><a asp-area="" asp-controller="ReportSection" asp-action="_Purchase Report">Purchase Report <i class="fa fa-file-text" aria-hidden="true"></i> </a></div>
        <div><a asp-area="" asp-controller="ReportSection" asp-action="_ReversalReport">Reversal Report <i class="fa fa-file-text" aria-hidden="true"></i> </a></div>
        <div><<a asp-area="" asp-controller="ReportSection" asp-action="_TariffReport">Tariff Report <i class="fa fa-file-text" aria-hidden="true"></i> </a></div>
    </div>


</div>

<h1>Sales Report</h1>
<div>
    <body>
        <p>
            <form action="/action_page.php">
                <center><label for="Start Date">Start Date:</label></center>
                <center><input type="date" id="Start Date" name="Start Date"></center>
            </form>
        </p>

    </body>
</div>

<div>
    <body>
        <p>
            <form action="/action_page.php">
                <center><label for="End Date">End Date:</label></center>
                <center><input type="date" id="End Date" name="End Date"></center>
            </form>
        </p>
    </body>
</div>



</html>